.chessboard-container {
  width: 500px;
  position: absolute;
  top: 20%;
  left: 32.5%;
  margin: -25px 0 0 -25px;
  background-color: #e78e00;
}

.chessboard-container .react-chessboard {
  width: 100%;
  height: auto;
  max-height: 400px;
  position: absolute;
  top: 30%;
  left: 30%;
  margin: -25px 0 0 -25px;
  background-color: #ff9d00;
}

.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 32.5%;
  margin: -25px 0 0 -25px;
}

.chessboard-wrapper {
  background-color: #141b2d;
}

body {
  background-color: #f0d9b5;
}

.square-w {
  background-color: #e8e8e8 !important; /* set the background color of white squares */
}

.square-b {
  background-color: #1c1c1c !important; /* set the background color of black squares */
}